 
li {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding:5px 8px;
    cursor: pointer;
 
    &:hover {
      background-color: rgba(255, 255, 255, 5);
    }

    &:hover .todoList > .deletePic {
      opacity: 10;
    }
 
    
}

span { 
  flex:1;
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 160px; 
  height: 1.2em; 
  white-space: nowrap;
  
}


 .active {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
 
}

 .listpic {
  margin-right:10px;
}

.deletePic {
  width: 10px;
  height: 14px;
  background-color: rgba(122, 98, 98, 0);
 
  
}

 


 