* {
  margin:0;
  padding:0;
  list-style:none;
  outline:0;
}


body {
  font-family: -apple-system, -system-ui, -sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  position: absolute;
  left:50%;
  top:50%;
  width:750px;
  height:550px;
  transform: translate(-50%, -50%);
}

.todo > .todoSidebar {
  background-color:#f4f6f8;
  width: 200px;
  height: 100%;
  border-right: 1px solid black;
  padding: 60px 30px;
}

.field {
  background-color: #FFFFFF;
  border: 1px solid #bdb5b5;
  box-sizing:border-box;
  border-radius: 4px;
  padding: 10px;
  margin:10px;
  width:90%
}

.AddBtn {
  background-color: #4dd599;
  border-radius: 4px;
  color:#fff;
  border:0;
  padding:10px 20px;
  cursor: pointer;
  width:90%;
  margin:10px;
}

.AddBtn:hover {
  background-color: darken(#4dd599, 10%);
}

.AddBtn:active {
  background-color: darken(#4dd599,20%);
}
 


